name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
env:
  CI: true
jobs:
  test-and-build-client:
    name: Test & Build Client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: cd client && yarn
      - name: Run Tests
        run: yarn test
      - name: Build
        run: yarn build

  test-and-build-server:
    name: Test & Build Server
    runs-on: ubuntu-latest
    docker:
      mongodb:
        image: mongo:5.0.6
        container_name: mongodb
        restart: unless-stopped
        environment:
          - MONGO_INITDB_ROOT_USERNAME=user
          - MONGO_INITDB_ROOT_PASSWORD=pass
          - MONGO_INITDB_DATABASE=mydatabase
        ports:
          - 27017:27017
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: cd server && yarn
      - name: Run Tests
        run: yarn test
      - name: Build
        run: yarn build
